<!-- Footer -->
<footer id="footer">
    <p class="small">© Copyright {{date format="YYYY"}} {{@blog.title}}. Published with <a href="https://ghost.org">Ghost</a> and <a href="https://github.com/hngiang/Gactus" target="_blank">Gactus</a></p>
</footer>